In [18]:
import discord
from datetime import datetime
import traceback
import pandas as pd
import numpy as np

In [43]:
queue = pd.DataFrame(columns = ['user_id', 'pokemon', 'time'])

In [44]:
queue = queue.append({'user_id': 123, 'pokemon': 'garbodor', 'time': datetime.now()}, ignore_index=True)
queue = queue.append({'user_id': 124, 'pokemon': 'salazzle', 'time': datetime.now()}, ignore_index=True)
queue = queue.append({'user_id': 125, 'pokemon': 'garbodor', 'time': datetime.now()}, ignore_index=True)
queue = queue.append({'user_id': 123, 'pokemon': 'garbodor', 'time': datetime.now()}, ignore_index=True)
queue = queue.append({'user_id': 124, 'pokemon': 'toxel', 'time': datetime.now()}, ignore_index=True)
queue = queue.append({'user_id': 126, 'pokemon': 'drapion', 'time': datetime.now()}, ignore_index=True)
queue = queue.append({'user_id': 123, 'pokemon': 'salazzle', 'time': datetime.now()}, ignore_index=True)

In [45]:
old_pos = np.where(queue['user_id'] == 124)[0][0]

In [46]:
old_pos

1

In [47]:
queue

  user_id   pokemon                       time
0     123  garbodor 2020-01-23 22:46:36.260362
1     124  salazzle 2020-01-23 22:46:36.262362
2     125  garbodor 2020-01-23 22:46:36.263362
3     123  garbodor 2020-01-23 22:46:36.265363
4     124     toxel 2020-01-23 22:46:36.267364
5     126   drapion 2020-01-23 22:46:36.269393
6     123  salazzle 2020-01-23 22:46:36.270364

In [48]:
row_to_insert = queue.iloc[[old_pos], :]

In [49]:
row_to_insert

  user_id   pokemon                       time
1     124  salazzle 2020-01-23 22:46:36.262362

In [50]:
queue.drop([old_pos], inplace = True)

In [51]:
position = 4

In [52]:
queue = pd.concat([queue.iloc[:position - 1], row_to_insert, queue.iloc[position - 1:]]).reset_index(drop=True)

In [53]:
queue

  user_id   pokemon                       time
0     123  garbodor 2020-01-23 22:46:36.260362
1     125  garbodor 2020-01-23 22:46:36.263362
2     123  garbodor 2020-01-23 22:46:36.265363
3     124  salazzle 2020-01-23 22:46:36.262362
4     124     toxel 2020-01-23 22:46:36.267364
5     126   drapion 2020-01-23 22:46:36.269393
6     123  salazzle 2020-01-23 22:46:36.270364

In [42]:
queue

  user_id   pokemon                       time
0     124  salazzle 2020-01-23 22:39:03.536862
1     125  garbodor 2020-01-23 22:39:03.538862
2     124     toxel 2020-01-23 22:39:03.541864
3     123  garbodor 2020-01-23 22:39:03.540863
4     123  salazzle 2020-01-23 22:39:03.545864
5     123  garbodor 2020-01-23 22:39:03.535862

In [56]:
if 1 not in [2, 3] and 2 not in [1, 3]:
    print('woo')

woo